# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac
.DS_Store

# Data
data/
*.zip

models/logs
models/**/variables

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log
